<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/Reset.css" />
    <!-- Reset css -->
    <link rel="stylesheet" href="/css/common.css" />

    <link rel="stylesheet" href="/css/login.css" />

    <link rel="shortcut icon" type="" href="/image/favicon.ico" />

    <script src="/javascripts/jquery.js" defer></script>
    <script src="/javascripts/login.js" defer></script>
    <script src="/javascripts/autocomplete.js" defer></script>

    <title>Our-To-Do</title>
  </head>
  <body>
    <div class="container">
      <p class="main-title">
        <a href="/">
          <img src="/image/homeicon.png" width="90px" alt="" />
          Our-To-Do</a
        >
      </p>
      <div class="login-page">
        <div class="form">
          <div class="register-form form-box">
            <form action="" id="register-form">
              <input type="text" placeholder="name" id="register-name" />
              <input type="text" placeholder="id" id="register-id" />
              <input
                type="password"
                placeholder="password"
                id="register-password"
              />
              <input
                type="password"
                placeholder="confirm-password"
                id="register-confirm-password"
              />
              <button id="register-button">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
          </div>
          <div class="login-form form-box">
            <form action="" id="login-form">
              <input type="text" placeholder="id" id="login-id" />
              <input
                type="password"
                placeholder="password"
                id="login-password"
              />
              <p class="auto-login flex">
                Auto Login
                <input type="checkbox" name="auto-login" id="auto-login" />
              </p>
              <button id="login-button">login</button>
              <p class="message">
                Not registered? <a href="#">Create an account</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <p class="footer">
        @hyotaek-jang | 문의사항 및 버그제보 : hyotaek9812@gmail.com
      </p>
    </div>
  </body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
