<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; content-src 'https://api.openweathermap.org';"
    /> -->
    <link rel="stylesheet" href="/css/Reset.css" />
    <!-- Reset css -->
    <link rel="stylesheet" href="/css/common.css" />

    <link rel="stylesheet" href="/css/main.css" />

    <link rel="shortcut icon" type="" href="/image/favicon.ico" />

    <script src="/javascripts/jquery.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script src="/javascripts/clock.js" defer></script>
    <script src="/javascripts/weather.js" defer></script>
    <script src="/javascripts/logout.js" defer></script>
    <script src="/javascripts/DB_todo.js" defer></script>
    <script src="/javascripts/DB_bookmark.js" defer></script>
    <script src="/javascripts/autocomplete.js" defer></script>
    <script src="/javascripts/toggle.js" defer></script>
    <script src="/javascripts/sortable.js" defer></script>

    <title>Our-To-Do</title>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="navigator">
        <a class="tool-bar-home" href="/intro">home</a>
        <a
          class="tool-bar-update"
          href="https://github.com/HyoTaek-Jang/Our-To-Do/blob/master/update.md"
          target="_blank"
          >Check Current Update</a
        >
        <div class="tool-bar">
          <p id="logout">Logout</p>
        </div>
      </div>
      <div class="container flex container-flex-media">
        <div class="l_wrapper">
          <div class="toDo">
            <div class="toDo-header">
              <h2>To-Do-List</h2>
              <h3 class="toggle">SHOW</h3>
            </div>

            <span class="lineShort"> </span>

            <ul class="l_contentBox sortable-todo toDo-CB show"></ul>

            <span class="lineLong"> </span>

            <div class="toDo-input flex">
              <form class="todoForm" action="/main/todo" method="POST">
                <div class="toDo-input-value">
                  <input id="todo-input" type="text" placeholder="Write Here" />
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="l_wrapper">
          <div class="main">
            <div class="main-weather flex">
              <div class="flex">
                <div class="main-weather-content">
                  <div class="main-weather-icon today-icon">icon today</div>
                  <p class="main-weather-day today">today</p>
                  <div class="main-weather-temp today-temp">None</div>
                </div>

                <div class="main-weather-content">
                  <div class="main-weather-icon tmr-icon">icon tmr</div>
                  <p class="main-weather-day tmr">tmr</p>
                  <div class="main-weather-temp tmr-temp">None</div>
                </div>
              </div>
            </div>

            <div class="main-clock">11:00</div>

            <div class="main-welcome show">
              Enjoy your day, <%= username %>
              <p>
                @hyotaek-jang | 문의사항 및 버그제보 : hyotaek9812@gmail.com
              </p>
            </div>

            <div class="main-enterName">
              <p>What's your name?</p>
              <form action="">
                <input type="text" class="main-input" placeholder="Name" />
              </form>
            </div>
          </div>
        </div>

        <div class="l_wrapper">
          <div class="bookmark">
            <div class="bookmark-header">
              <h2>Bookmark</h2>
              <h3 class="toggle">SHOW</h3>
            </div>

            <span class="lineShort"> </span>

            <ul class="l_contentBox sortable-bookmark bookmark-CB show"></ul>

            <span class="lineLong"> </span>

            <div class="bookmark-form">
              <form class="flex bookmarkForm" action="">
                <div class="bookmark-input">
                  <input
                    class="B_title"
                    type="text"
                    placeholder="Write Title"
                    id="bookmark-input-title"
                  />
                </div>
                <div class="bookmark-input">
                  <input
                    class="B_URL"
                    type="text"
                    placeholder="Write URL"
                    id="bookmark-input-url"
                  />
                </div>
                <input type="submit" style="display: none" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
