<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/Reset.css" />
    <!-- Reset css -->
    <link rel="stylesheet" href="/css/common.css" />

    <link rel="stylesheet" href="/css/main.css" />

    <link rel="shortcut icon" type="" href="/image/favicon.ico" />

    <script src="/javascripts/jquery.js" defer></script>
    <script src="/javascripts/clock.js" defer></script>
    <script src="/javascripts/greeting.js" defer></script>
    <script src="/javascripts/todo.js" defer></script>
    <script src="/javascripts/bookmark.js" defer></script>
    <script src="/javascripts/weather.js" defer></script>
    <script src="/javascripts/logout.js" defer></script>

    <title>Our-To-Do</title>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="navigator">
        <a class="tool-bar-home" href="/">home</a>
        <div class="tool-bar">
          <p class="clearAll">Reset</p>
          <p id="logout">Logout</p>
        </div>
      </div>
      <div class="container flex container-flex-media">
        <div class="l_wrapper">
          <div class="toDo">
            <div class="toDo-header">
              <h2>To-Do-List</h2>
              <h3 class="toggle">SHOW</h3>
            </div>

            <span class="lineShort"> </span>

            <div class="l_contentBox toDo-CB show"></div>

            <span class="lineLong"> </span>

            <div class="toDo-input flex">
              <form class="todoForm" action="">
                <div class="toDo-input-value">
                  <input type="text" placeholder="Write Here" />
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="l_wrapper">
          <div class="main">
            <div class="main-weather flex">
              <div class="flex">
                <div class="main-weather-content">
                  <div class="main-weather-icon today-icon icon-cloudy">
                    icon today
                  </div>
                  <p class="main-weather-day today">today</p>
                  <div class="main-weather-temp today-temp">None</div>
                </div>

                <div class="main-weather-content">
                  <div class="main-weather-icon tmr-icon icon-sunny">
                    icon tmr
                  </div>
                  <p class="main-weather-day tmr">tmr</p>
                  <div class="main-weather-temp tmr-temp">None</div>
                </div>
              </div>
            </div>

            <div class="main-clock">11:00</div>

            <div class="main-welcome show">Enjoy your day, <%= username %></div>

            <div class="main-enterName">
              <p>What's your name?</p>
              <form action="">
                <input type="text" class="main-input" placeholder="Name" />
              </form>
            </div>
          </div>
        </div>

        <div class="l_wrapper">
          <div class="bookmark">
            <div class="bookmark-header">
              <h2>Bookmark</h2>
              <h3 class="toggle">SHOW</h3>
            </div>

            <span class="lineShort"> </span>

            <div class="l_contentBox bookmark-CB show"></div>

            <span class="lineLong"> </span>

            <div class="bookmark-form">
              <form class="flex bookmarkForm" action="">
                <div class="bookmark-input">
                  <input
                    class="B_title"
                    type="text"
                    placeholder="Write Title"
                  />
                </div>
                <div class="bookmark-input">
                  <input class="B_URL" type="text" placeholder="Write URL" />
                </div>
                <input type="submit" style="display: none" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
